################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin
/obj
/Properties/PublishProfiles
/appsettings-development.json
/.vs
/AddressTracker/bin
/AddressTracker/obj
/AddressTracker/Properties/PublishProfiles
/AddressTracker/appsettings-development.json
/AddressTracker.Core/bin
/AddressTracker.Core/obj
